name: Mojo Unit Tests

on:
  push:
    branches: [ dev, main ]
  pull_request:
    branches: [ dev, main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install Mojo
        run: |
          python -m pip install --upgrade pip
          pip install mojo==0.26.1

      - name: Install Python Dependencies
        run: |
          pip install librosa numpy matplotlib scipy

      - name: Create Librosa Results for Testing Against
        run: |
          python testing_mmm_audio/validation/librosa_results_for_testing_against.py

      - name: Run UnitTests.mojo
        id: run-tests
        run: |
          mojo testing_mmm_audio/UnitTests.mojo

      - name: Test Building Mojo Files
        run: |
          python testing_mmm_audio/test_build_mojo_files.py
        
      - name: Validate Against Snapshots
        run: |
          python testing_mmm_audio/validation/validate_against_snapshot.py
